body.dark-mode{
    .form-group{
        label{
            color: #fff;
        }
        .form-control{
            border-color: #dadada73;
            background: none;
        }
    }
    .movingElements .item i{
        color: white !important;
    }
    @media(max-width:567px){
        .header-links.active{
            box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
        }
    }
    .about-section{
        .sideLine{
            padding: 0;
            &::before{
                display: none;
            }
        }
    }
    .scroll-to-bottom i{
        color: #d1d1d1;
    }
    .btn-outline-primary{
        &:hover{
            background: var(--button-primary-hover-bg);
            border: var(--button-primary-hover-border);
            color: var(--button-primary-hover-color);
        }
    }
}
