:root{
    --body-color: rgb(255, 255, 255); 
    --header-bg: #fff;
    --text-color: #121212;
    --heading-color: #001939;
    --primary: #2f7bdf;
    --secondary: #76b2ff;
    --tertiary: #76b2ff;
    // buttons
    --button-primary-bg: var(--primary);
    --button-primary-border: linear-gradient(to right,var(--primary),var(--primary));
    --button-primary-color: #ffffff;
    --button-primary-hover-bg: var(--secondary);
    --button-primary-hover-border: var(--secondary);
    --button-primary-hover-color: #ffffff;
    --switch-light: rgb(216, 97, 0); 
    
    --card-bg1: #c1dcff;
    --border-color1: #d8d8d8;
    --device-background: var(--body-color);
    --about-bg: #c1dcff;
    --contact-bg: linear-gradient(#c1dcff,#c1dcff);

    --icon-color: #0051ba;
    --skill-icon-color: #002658;
}
.dark-mode{
    --body-color: rgb(29, 29, 29); 
    --header-bg: rgb(29, 29, 29);
    --text-color: #f0f0f0;
    --heading-color: #f0f0f0;
    --primary: #ffffff;
    --secondary: #76b2ff;
    --tertiary: #76b2ff;
    --switch-light: rgb(255, 255, 255);
    // buttons
    --button-primary-bg: transparent;
    --button-primary-border: #ffffff;
    --button-primary-color: #fff;
    --button-primary-hover-bg: #76b2ff;
    --button-primary-hover-border: #76b2ff;
    --primary-hover-color: #76b2ff;
    --device-background: var(--body-color);

    --card-bg1: #aac1cf;
    --border-color1: #aac1cf;
    --about-bg: #aac1cf;
    --contact-bg: linear-gradient(#aac1cf,#aac1cf);

    --icon-color: #aac1cf;
    --skill-icon-color: #aac1cf;
}