:root{
    --body-color: rgb(255, 255, 255); 
    --header-bg: #fff;
    --text-color: #121212;
    --primary: #46008c;
    --secondary: #8817f9;
    --tertiary: #a147fa;
    // buttons
    --button-primary-bg: linear-gradient(to right,#46008c,#9226ff);
    --button-primary-border: linear-gradient(to right,#46008c,#9226ff);
    --button-primary-color: #ffffff;
    --button-primary-hover-bg: var(--secondary);
    --button-primary-hover-border: var(--secondary);
    --button-primary-hover-color: #fff;
    --switch-light: rgb(216, 97, 0); 
    
    --card-bg1: #e3c7ff;
    --border-color1: #d8d8d8;
    --device-background: var(--body-color);
}
.dark-mode{
    --body-color: rgb(29, 29, 29); 
    --header-bg: rgb(29, 29, 29);
    --text-color: #ffffff;
    --primary: #ffffff;
    --secondary: #c58cff;
    --tertiary: #b061ff;
    --switch-light: rgb(255, 255, 255);
    // buttons
    --button-primary-bg: transparent;
    --button-primary-border: #ffffff;
    --button-primary-color: #fff;
    --button-primary-hover-bg: #46008c;
    --button-primary-hover-border: #46008c;
    --primary-hover-color: #46008c;
    --device-background: var(--body-color);
}